@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.navbar a {
  color: black;
}

.logo {
  text-align: right;
}
.navbar img {
  width: 50px;
}

.navbar, .links {
  text-align: center;
  border: 5px solid red;
}

.img-modal {
  max-height: 90vh;
}