@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.navbar a {
  color: black;
}

.navbar {
  border: 5px solid red;
}

.img-modal {
  max-height: 90vh;
}