# See https://help.github.com/ignore-files/ for more about ignoring files.

server

# compiled output
client/dist/*
client/tmp/*

# dependencies
client/node_modules/*
client/bower_components/*

# misc
client/.sass-cache
client/connect.lock
client/coverage/*
client/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
