<div class="container add-top add-extra-top">
  <div class="jumbo">
    <div class="text-center">
      <h2>Recent Works</h2>
      <p class="section-subheading text-muted">
        Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
      </p>
    </div>
  <br><br>
  <div class="recent-works container">
    <div class="row">
    {{#each model as |projectUnit|}}
      {{portfolio-projects project=projectUnit class="col-sm-3"}}
    {{/each}}
    </div>
  </div>

  </div>
  {{outlet}}
</div>

{{site-footer}}
