<div class="container">
  <div class="navbar">
    {{#link-to "index"}}
      <img
      alt="Working Aperture Logo"
      src="/img/working-aperture.png">
      <h1>Working Aperture</h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "order-options" class="button"}}
        Order Options
      {{/link-to}}
      {{#link-to "what-sets-us-apart" class="button"}}
        What sets up apart
      {{/link-to}}
      {{#link-to "recent-works" class="button"}}
        Recent Works
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>