<div class="container">
  <div class="navbar row">
    <div class="col logo">
      {{#link-to "index"}}
        <img
        alt="Working Aperture Logo"
        src="/img/working-aperture.png">
        Working Aperture
      {{/link-to}}
    </div>
    <div class="col col-lg-auto">
      {{#link-to "what-sets-us-apart" class="button"}}
        What sets
        <br>us apart
      {{/link-to}}
    </div>
    <div class="col col-lg-2 col-lg-auto">
      {{#link-to "order-options" class="button"}}
        Order
        <br>Options
      {{/link-to}}
    </div>
    <div class="col col-lg-auto">
      {{#link-to "recent-works" class="button"}}
        Recent
        <br>Works
      {{/link-to}}
    </div>
  </div>
<!--   <div class="row justify-content-end">
    <div class="col-2">
      One of two columns
    </div>
    <div class="col-2">
      One of two columns
    </div>
  </div> -->
  <div class="body">
    {{outlet}}
  </div>
</div>