<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>Working Aperture</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "order-options" class="button"}}
        Order Options
      {{/link-to}}
      {{#link-to "what-sets-us-apart" class="button"}}
        What sets up apart
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>