<!--   <img src='/img/Vionnet-Pochette-Bag.jpg' height="200px">
<div>
  <h2>Home Page</h2>
  <p>
    This is a test
  </p>
</div>
{{#parallax-content speed=0.9 height=800 }}
  <p>
    This is a test
  </p>
  <img src='/img/Vionnet-Pochette-Bag.jpg'>
{{/parallax-content}}
{{#parallax-content speed=2 height=400 }}
  <p>
    This is a test
  </p>
  <img src='/img/Vionnet-Pochette-Bag.jpg'>
{{/parallax-content}}
  <p>
    This is a test
  </p>
{{outlet}} -->
<div class="add-top">
  <div class="banner position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-5 font-weight-normal">Working Aperture</h1>
      <p class="lead font-weight-normal">Product photography studio offering fully customizable, commercial photographs for your
  products, according to your standards. Simple mail-in process, client oversees production
  process.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="box-shadow d-none d-md-block"></div>
    <div class="box-shadow d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Here's a heading</h2>
        <p class="lead">And and then a subheading.</p>
      </div>
      <div class="half-banner-img bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">Something else here.</p>
      </div>
      <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">And then we should write another thing.</h2>
        <p class="lead">It could go here.</p>
      </div>
      <div class="banner-img bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
</div>
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img
        alt="Working Aperture Logo"
        src="/img/working-aperture.png"
        height= 30px;>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>

      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
      </ul>
    </div>
  </div>
</footer>

