
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Recent Works</h2>
  <p>
    Some pictures
  </p>
  {{#each model as |picture|}}
  <h2>{{picture.title}}</h2>
  {{/each}}
</div>
{{outlet}}