
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Recent Works</h2>
  <p>
    Some pictures
  </p>


<div class="container">
  <div class="row">

  {{#each model as |project|}}
    <div class="col-sm">
      <h2>{{project.title}}</h2>
      <img
        alt="Working Aperture Logo"
        class="img-fluid"
        src={{project.photo}}>
    </div>
  {{/each}}

  </div>
</div>

</div>
{{outlet}}