<div class="container add-top">
  <div class="jumbo">
  <!--   {{#link-to "order-options" class="button"}}
      Order Options
    {{/link-to}} -->

    <div class="right tomster"></div>
    <h2>What sets us apart</h2>
    <p>
      Vel eu quot labores verterem. Pri nonumy antiopam ne, quod sonet eu mel. An partem utroque vim, quo ut eligendi repudiandae. Nisl tantas iracundia an vel. Laudem labores appellantur et vis. Soluta tibique phaedrum eos id, ut propriae suscipit intellegam ius, alterum feugiat pertinacia pro eu.
    </p>
    <p>
      An usu prompta delenit elaboraret, mea cu solum habemus fuisset, eum ea tota nominavi delicatissimi. Dictas minimum comprehensam id eos. Eos at hinc scaevola. Nobis praesent gloriatur ne pri, probatus antiopam theophrastus per ex, atqui nominavi pertinax ei mel. At forensibus concludaturque has, verterem erroribus iracundia pro id, at vis voluptua instructior. In mea nostrud detraxit moderatius.
    </p>
  </div>
  {{outlet}}
</div>